<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="ee9faa">  <td>20/04/01 21:35:14</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AbstractTestNGCucumberTests.feature(cucumber.api.testng.CucumberFeatureWrapper)[pri:0, instance:br.com.frameworktestng.runner.TestNGCukesRunner@3f49dace]">feature</td> 
  <td>main@1376400422</td>   <td></td> </tr>
<tr bgcolor="ee9faa">  <td>20/04/01 21:35:13</td>   <td>-318</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AbstractTestNGCucumberTests.setUpClass()[pri:0, instance:br.com.frameworktestng.runner.TestNGCukesRunner@3f49dace]">&gt;&gt;setUpClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1376400422</td>   <td></td> </tr>
<tr bgcolor="be8bc2">  <td>20/04/01 21:35:13</td>   <td>-114</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestNGCukesRunner.setup()[pri:0, instance:br.com.frameworktestng.runner.TestNGCukesRunner@3f49dace]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1376400422</td>   <td></td> </tr>
<tr bgcolor="ee9faa">  <td>20/04/01 21:36:06</td>   <td>52725</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestNGCucumberTests.tearDownClass()[pri:0, instance:br.com.frameworktestng.runner.TestNGCukesRunner@3f49dace]">&lt;&lt;tearDownClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1376400422</td>   <td></td> </tr>
<tr bgcolor="be8bc2">  <td>20/04/01 21:36:06</td>   <td>52715</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestNGCukesRunner.teardown()[pri:0, instance:br.com.frameworktestng.runner.TestNGCukesRunner@3f49dace]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1376400422</td>   <td></td> </tr>
</table>
